<%- include("partials/header"); -%>

<div class="container login">
	<h1>Ingreso</h1>
	<form>
		<div class="form-group">
			<label for="email">Email</label>
			<input class="form-control" type="email" id="email" name="email">
		</div>
		<div class="form-group">
			<label for="password">Contraseña</label>
			<input class="form-control" type="password" id="password" name="password">
		</div>

		<button class="btn btn-dark btn-block" type="submit">Entrar</button>
	</form>

	<a class="btn btn-link" href="/register">Crear cuenta</a>
</div>

<%- include("partials/footer"); -%>