<%- include("partials/header"); -%>

<div class="container negocios">
		<h1 class="h4">Negocios en Piñeyro, Avellaneda</h1>

		<!-- Botón para cambiar zona de búsqueda -->
		<button class="btn btn-light btn-sm">Zona</button>

	<div class="row my-2">
		<div class="col-6">
			<div class="card">
				<img class="card-img-top" src="images/local.png" alt="imagen del negocio">
				<div class="card-body">
					<h5 class="card-title">La Farola</h5>
					<p>Restaurante de comida</p>
					<p class="small text-muted">Av. Galicia 200</p>
					<button class="btn btn-dark btn-sm">Acceder al menú</button>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<img class="card-img-top" src="images/local.png" alt="imagen del negocio">
				<div class="card-body">
					<h5 class="card-title">Parrilla al paso</h5>
					<p>Parrilla</p>
					<p class="small text-muted">Av. Galicia 200</p>
					<button class="btn btn-dark btn-sm">Acceder al menú</button>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<img class="card-img-top" src="images/local.png" alt="imagen del negocio">
				<div class="card-body">
					<h5 class="card-title">Chino</h5>
					<p>Mercado</p>
					<p class="small text-muted">Av. Galicia 200</p>
					<button class="btn btn-dark btn-sm">Acceder al menú</button>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<img class="card-img-top" src="images/local.png" alt="imagen del negocio">
				<div class="card-body">
					<h5 class="card-title">Pollería</h5>
					<p>Frigorífico</p>
					<p class="small text-muted">Av. Galicia 200</p>
					<button class="btn btn-dark btn-sm">Acceder al menú</button>
				</div>
			</div>
		</div>				
	</div>

</div>

<%- include("partials/footer"); -%>