<%- include("partials/header"); -%>

<div class="container negocio">
	
	<h1 class="h4 text-center">La Farola</h1>
	<p class="text-secondary">Las mejores comidas recién preparadas, calentitas y caseras, disfrutá de la más alta calidad.</p>

	<div class="promociones">
		<h5>Promociones</h5>
		<div class="promocion">
			<div class="card">
			<div class="row no-gutters">
				<div class="col-4">
					<img class="img-fluid" src="images/muestra.jpg">
				</div>
				<div class="col-8">
				<div class="row no-gutters">
						<div class="col-10 pl-2">
							<p>Hamburguesa Especial</p>
							<p>$250.00</p>
						</div>
						<div class="col-2 detalles-promo">
							<p class="text-center h4">></p>
						</div>
				</div>
				</div>
			</div>
			</div>
		</div>

		<div class="promocion">
			<div class="card">
			<div class="row no-gutters">
				<div class="col-4">
					<img class="img-fluid" src="images/muestra.jpg">
				</div>
				<div class="col-8">
				<div class="row no-gutters">
						<div class="col-10 pl-2">
							<p>Hamburguesa Especial</p>
							<p>$250.00</p>
						</div>
						<div class="col-2 detalles-promo">
							<p class="text-center h4">></p>
						</div>
				</div>
				</div>
			</div>
			</div>
		</div>

		<div class="promocion">
			<div class="card">
			<div class="row no-gutters">
				<div class="col-4">
					<img class="img-fluid" src="images/muestra.jpg">
				</div>
				<div class="col-8">
				<div class="row no-gutters">
						<div class="col-10 pl-2">
							<p>Hamburguesa Especial</p>
							<p>$250.00</p>
						</div>
						<div class="col-2 detalles-promo">
							<p class="text-center h4">></p>
						</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="menu mt-4">
		<h5>Menú</h5>
		<div class="row">
			<div class="col-6 botones-menu">
				<div>
					<a href="#"><i class="fas fa-wine-bottle"></i></a>
					<p class="h5">Bebidas</p>
				</div>
			</div>
			<div class="col-6 botones-menu">
				<div>
					<a href="#"><i class="fas fa-spray-can"></i></a>
					<p class="h5">Higiene</p>
				</div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer"); -%>